{{!-- table.table-primary.text-center.bg-light.mt-3.mb-3>tr*3>th*8 --}}
<div class="container min-vh-100 d-flex justify-content-center">
   <table class="table table-dark text-center bg-light px-4 mt-3 mb-3">
      <tr>
         <th class="h1 text text-danger" colspan="6">Gundam List ({{ total }})</th>
         
         <td><a class="btn btn-success" href="/add">Add</a></td>
         <td><a class="btn btn-danger" href="/drop"
         onclick="return confirm('Are you sure to delete all gundam ?');"
         >Drop</a></td>
         
      </tr>
      <tr class="cot" >
         <th>Tên</th>
         <th>Thương hiệu</th>
         <th>Số lượng</th>
         <th>Giá tiền</th>
         <th>Ảnh</th>
         <th>Video</th>
         <th colspan="2">Menu</th>
      </tr>
      {{#each gundams }}
      <tr>
         <th>{{ name }}</th>
         <th>{{ brand }}</th>
         <th>{{ quantity }}</th>
         <th>
            <img class="zoom" src="{{ image }}">
         </th>
         <th>${{ price }}</th>
         <th>
            <iframe src="https://www.youtube.com/embed/{{ video }}" width="300" 
            height="200"></iframe>
         </th>
         
            <td><a class="btn btn-warning p-2" href="/edit/{{_id}}">Edit</a></td>
            <td><a class="btn btn-danger p-2" href="/delete/{{_id}}" 
            onclick="return confirm('Are you sure to delete this gundam ?');"
            >Delete</a></td>
         

      </tr>
      {{/each}}
   </table>
</div>
