{{!-- div.col>div.row*2 --}}
<div class="col">
   <div class="row">
      <h1 class="text text-primary text-center">GUNDAM ORDER</h1>
   </div>
   <div class="row">
      <table class="table table-bordered text-center">
         <tr>
            <th colspan="2">
               <img src="{{ gundam.image }}" width="300" height="300">
            </th>
         </tr>
         <tr> 
            <th>Gundam name</th>
            <th>{{ gundam.name }}</th>
         </tr>
         <tr>
            <th>Gundam price</th>
            <th>${{ gundam.price }}</th>
         </tr>
         <tr>
            <th>Order quantity</th>
            <th>{{ order_quantity }}</th>
         </tr>
         <tr>
            <th>Total price</th>
            <th>${{ total_price }}</th>
         </tr>
         <tr class="text-center">
            <th colspan="2">
               <a class="btn btn-danger" href="/confirm">Confirm</a>
            </th>
         </tr>
      </table>
   </div>
</div>