{{!-- div.col>div.row*2 --}}
<div class="col">
   <div class="row">
      <h1 class="text text-info text-center">ORDER DETAIL</h1>
   </div>
   <div class="row">
      <table class="table table-bordered text-center">
         <tr>
            <th colspan="2">
               <img src="{{ gundam.image lego.image }}" width="300" height="300">
            </th>
         </tr>
         <tr> 
            <th class="text text-info">Gundam name</th>
            <th class="text text-info">{{ gundam.name }}</th>
         </tr>
         <tr>
            <th class="text text-info">Gundam price</th>
            <th class="text text-info">${{ gundam.price }}</th>
         </tr>
         <tr>
            <th class="text text-info">Order quantity</th>
            <th class="text text-info">{{ order_quantity }}</th>
         </tr>
         <tr>
            <th class="text text-info">Total price</th>
            <th class="text text-info">${{ total_price }}</th>
         </tr>
         <tr class="text-center text-info">
            <th colspan="2">
               <a class="btn btn-danger" href="/confirm">Confirm</a>
            </th>
         </tr>
      </table>
   </div>
</div>