<h1 style="color: blue;" class="text text-center" >ANT Gundam</h1>
<div class="card-group text-center">
   <div class="row">
      {{#each gundams }}
      <div class="bg-light card col-md-2 m-3">
         <img class="card-img-top mt-3" src="{{ image }}" width="180" height="150">
         <div class="card-body">
            <h4 class="card-title text-success">{{ name }}</h4>
            <h3 class="card-title text-danger">${{ price }}</h3>
            <p class="fw-bold card-text text-primary">{{ brand }}</p>
            {{!-- <form action="/order" method="post">
               <input type="hidden" name="id" value="{{_id}}"> 
               <input type="hidden" name="price" value="{{price}}">
               <input class="form-control mb-3" type="number" name="order_quantity" 
               min="1" max="{{quantity}}">
               <input class="btn btn-danger" type="submit" value="Order">
            </form> --}}
         </div>
      </div>
      {{/each}}
   </div>
</div>